<%- include('layout/header.ejs') %>
<div>
  <form>
    <input id="input-title" type="text" placeholder="title" value="<%= data.title %>" data-id="<%= data.id %>">
    <input id="input-author" type="text" placeholder="author" value="<%= data.author %>" disabled=true>
    <textarea id="input-content" cols="30" rows="10"><%= data.content %></textarea>
  </form>
  <button id="update">update</button>
  <button id="delete">delete</button>
  <button id="cancel">cancel</button>
</div>
<script src="/js/update.js"></script>
<script src="/js/delete.js"></script>
<%- include('layout/footer.ejs') %>